.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 8px 24px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse ;
}

.superInput {
}

.errorInput {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    border-color: #cc0000;
}

.errorInput:focus {
}

.error {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    color: #cc0000;
    margin-bottom: 5px;
}
