.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.editableSpanContainer {
    /*display: flex;*/
    /*gap: 20px;*/
    color:  #0080FF;
    font-size: 16px;
    font-weight: 500;

}