.spanBlock {
    display: flex;
    align-items: center;
    gap: 20px;
}

.span {
    color: #0080FF;
    font-family: Montserrat sans-serif;
}

.input {
    padding: 8px 24px;
    border-color: #D1D1D1;
}

.pen {
    width: 24px;
    height: 24px;
}