.friendMessage {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {
    position: relative;
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    margin-right: 20px;
}

.friendText:after {
    content: '';
    position: absolute;
    max-width: 527px;
    width: 100%;
    min-height: 60px;
    background-color: #F5F7FB;
    top: -10px;
    right: 0;
    z-index: -1;
    border-radius: 10px;
}

.friendName {
    font-weight: 600;
}

.friendMessageText {

}

.friendTime {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;
}
